input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 30rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 8px 0;
}
input:focus {
  outline: none;
  color: #fd6000;
}
label {
  font-family: inherit;
  font-size: 1.6rem;
}
.error {
  color: #bc2b55;
}
.n-button {
  margin-top: 1rem;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  width: 14rem;
  color: #ffffff;
  font-weight: lighter;
  background: linear-gradient(10deg, #fd6000, #bc2b55);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
  border: none;
  outline: none;
}
.n-button:hover {
  background: linear-gradient(10deg, #bc2b55, #fd6000);
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #bc2b21;
  padding: 1rem 2rem 1rem 1rem;
}
